{{ $spotifyArtist := false }}
{{ $artistData := .artist }}
{{ $artistName := .name }}
{{ $url := printf "https://api.spotify.com/v1/artists/%s" $artistData.id }}
{{ $opts := dict "headers" (dict "Authorization" (printf "Bearer %s" .spotifyToken)) }}
{{ with try (resources.GetRemote $url $opts) }}
  {{ with .Err }}
    {{ warnidf "warn-spotify" "[Spotify] Unable to get artist info for '%s' (%s): %s" $artistName $artistData.id . }}
  {{ else with .Value }}
    {{ $spotifyArtist = transform.Unmarshal . }}
  {{ end }}
{{ end }}
{{ if and (not $spotifyArtist) $artistData.external_urls $artistData.external_urls.spotify $artistData.images (index $artistData.images 0) }}
  {{ $spotifyArtist = $artistData }}
  {{ warnidf "warn-spotify" "[Spotify] Using local artist data for '%s'" $artistName }}
{{ end }}
{{ return $spotifyArtist }}
