{{ define "main" }}
{{ if .Params.showHero | default (.Site.Params.article.showHero | default false) }}
{{ $heroStyle := .Params.heroStyle }}
{{ if not $heroStyle }}{{ $heroStyle = .Site.Params.article.heroStyle }}{{ end }}
{{ $heroStyle := print "partials/hero/" $heroStyle ".html" }}
{{ if templates.Exists $heroStyle }}
{{ partial $heroStyle . }}
{{ else }}
{{ partial "partials/hero/basic.html" . }}
{{ end }}
{{ end }}

<h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral text-center">
  <span class="block">{{ .Title }}</span>
  <span class="block text-2xl font-light mt-2">{{ .Params.subtitle }}</span>
</h1>
{{ $data := slice }}
{{ $url := printf "https://docs.google.com/spreadsheets/d/%s/gviz/tq?tqx=out:csv&sheet=%s" .Params.sheetId .Params.SheetName }}
{{ with try (resources.GetRemote $url) }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else with .Value }}
    {{ $opts := dict "delimiter" "," }}
    {{ $data = . | transform.Unmarshal $opts | after 1 }}
    {{ $data = apply $data "first" "6" "." }}
  {{ else }}
    {{ errorf "Unable to get remote resource %q" $url }}
  {{ end }}
{{ end }}

{{ $spotifyToken := "" }}
{{ if and .Site.Params.spotify.clientId .Site.Params.spotify.clientSecret }}
{{ $url := "https://accounts.spotify.com/api/token" }}
{{ $opts := dict 
  "method" "post"
  "body" (printf "grant_type=client_credentials&client_id=%s&client_secret=%s" .Site.Params.spotify.clientId .Site.Params.spotify.clientSecret)
  "headers" (dict  "Content-Type" "application/x-www-form-urlencoded")
  "key" (print $url (now.Format "2006-01-02-15"))
}}
{{ with try (resources.GetRemote $url $opts) }}
  {{ with .Err }}
    {{ warnf "Couldn't retrieve Spotify token: %s" . }}
  {{ else with .Value }}
    {{ $response := transform.Unmarshal . }}
    {{ $spotifyToken = $response.access_token }}
  {{ end }}
{{ end }}
{{ else }}
  {{ warnf "Spotify credentials not provided." }}
{{ end }}

<div class="my-8 grid sm:grid-flow-row-dense grid-cols-1 sm:grid-cols-2 lg:grid-cols-6 gap-4">

  {{ with dict "page" . "data" $data "spotifyToken" $spotifyToken }}

  {{ partial "concerts/total.html" . }}

  {{ partial "concerts/total-events.html" . }}

  {{ partial "concerts/total-spent.html" . }}

  {{ partial "concerts/top-artists.html" . }}
  
  {{ partial "concerts/most-recent.html" . }}

  {{ partial "concerts/ranking.html" . }}

  {{ partial "concerts/race-top-artists.html" . }}

  {{ partial "concerts/cal-heatmap.html" . }}

  {{ partial "concerts/all.html" . }}

  {{ end }}

</div>

<p class="my-4 text-center text-xs text-neutral-500 dark:text-neutral-400">
  {{ time.Format ":date_long" time.Now | dict "Date" | T "article.date_updated" }}
</p>

{{ with .Params.update }}
<div class="text-center flex justify-center text-xs mt-8 text-neutral-500 dark:text-neutral-400">
  <a href="{{.}}" target="_blank" class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2 flex items-center">
    Aktualizovať <span class="ml-1">{{ partial "icon.html" "link" }}</span> 
  </a>
</div>
{{ end }}



{{ $chartLib := resources.Get "lib/chart/chart.min.js" }}
{{ $chartConfig := resources.Get "js/chart.js" }}
{{ $chartConfig := $chartConfig | resources.Minify }}
{{ $chartJS := slice $chartLib $chartConfig | resources.Concat "js/chart.bundle.js" | resources.Fingerprint "sha512" }}
<script defer type="text/javascript" src="{{ $chartJS.RelPermalink }}"
  integrity="{{ $chartJS.Data.Integrity }}"></script>

{{ end }}