---
layout: default
title: Blog
---
<h1>{{ page.title }}</h1>
Tu sú nejaké novinky a tak...
<ul class="posts">
	{% assign active_month =  ""%}
	{% for post in site.posts %}
		{% capture post_month %}{{ post.date| date: "%B %Y"}}{% endcapture %}
		{% if active_month != post_month  %}
			{% assign active_month = post_month %}
			</ul>
			<h4>{{active_month}}</h4>
			<ul>
		{% endif %}
		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}"
				title="{{ post.title }}">{{ post.title }}</a><br>
			<div class="mb-3">
				{% for tag in post.tags%}
				<span class="badge badge-secondary">{{tag}}</span>
				{% endfor %}
			</div>
		</li>
	{% endfor %}
</ul>